@font-face {
    font-family: 'timeburner';
    src: url('fonts/timeburnernormal.woff') format('woff'),
        url('fonts/timeburnernormalbold.ttf') format('truetype');
}

body {
    margin: auto;
    background-color: #eeeed7;
    padding-left: clamp(5%, 10vw, 20%);
    padding-right: clamp(5%, 10vw, 20%);
}

h1 {
    font-family: 'timeburner';
    font-size: clamp(3rem, 10vw, 7rem);
    text-align: center;
}

h2 {
    font-size: clamp(1.5rem, 10vw, 3rem);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.typewriter {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}

p {
    text-align: justify;
}

.single-instruction {
    margin-bottom: 40px;
}

header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1.25rem, 10vw, 2.5rem);;
}

header span {
    background: #eeeed7;
    padding: 0 10px;
}

table {
    width: 100%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: clamp(10px, 10vw, 20px);
}

.ingredient {
    width: 70%;
}

.amount {
    width: 30%;
}