@font-face {
    font-family: 'timeburner';
    src: url('fonts/timeburnernormal.woff') format('woff'),
        url('fonts/timeburnernormalbold.ttf') format('truetype');
}

body {
    margin: auto;
    background-color: #eeeed7;
    padding-left: clamp(5%, 10vw, 20%);
    padding-right: clamp(5%, 10vw, 20%);
}

h1 {
    font-family: 'timeburner';
    font-size: clamp(2.5rem, 2vw, 7rem);
    text-align: center;
}

h2 {
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.typewriter {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}

p {
    text-align: justify;
}

.single-instruction {
    margin-bottom: 40px;
}

header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: bold;
}

header span {
    background: #eeeed7;
    padding: 0 10px;
}

table {
    width: 100%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: clamp(5px, 4vw, 20px);
}

th {
    text-align: left;
}

.ingredient {
    width: 70%;
}

.amount {
    width: 30%;
}

.wrapper {
    width: 100%;
    text-align: center;
}

.polaroid {
    background: #edede6;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);

}

.polaroid>img {
    max-width: 100%;
    height: auto;
    filter: sepia(0.7);
}

.caption {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
}

.item {
    width: 100%;
    display: flex;
    margin-top: 2rem;
}

.item .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.35s;
}

.item:nth-of-type(4n+1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
}

